@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&family=Poppins:wght@400;700&display=swap");

* {
  padding: 0%;
  margin: 0%;
  list-style-type: none !important;
  box-sizing: border-box !important;
  text-decoration: none !important;
}

.Es8downQlxiASDyltHtn {
  overflow: hidden !important;
}

/*--font-family--*/
.ff_Cinzel {
  font-family: "Cinzel";
}

.ff_Poppins {
  font-family: "Poppins";
}

:root {
  /* ---fw------ */
  --fw-medium: 500;
  /*--font-size---*/
  --fs-xsm: 16px;
  --fs-sm: 18px;
  --fs-md: 20px;
  --fs-base: 32px;
  --fs-lg: 40px;
  --fs-xl: 60px;
  /*---color-----*/
  --clr-pink100: #fff6f6;
  --clr-pink-200: #f8f4f1;
  --clr-pink300: #eed5d0;
  --clr-pink400: #dfb8b1;
  --clr-pink500: #e18d8a;
}

/* ---fw------ */
.fw_medium {
  font-weight: var(--fw);
}

/*--font-size---*/
.fs_xsm {
  font-size: var(--fs-xsm);
}

.fs_sm {
  font-size: var(--fs-sm);
}

.fs_md {
  font-size: var(--fs-md);
}

.fs_base {
  font-size: var(--fs-base);
}

.fs_lg {
  font-size: var(--fs-lg);
}

.fs_xl {
  font-size: var(--fs-xl);
}

/*-----color----*/
.bg_pink100 {
  background-color: var(--clr-pink100) !important;
}

.bg_pink200 {
  background-color: var(--clr-pink-200) !important;
}

.bg_pink300 {
  background-color: var(--clr-pink300) !important;
}

.bg_pink400 {
  background-color: var(--clr-pink400) !important;
}

.bg_pink500 {
  background-color: var(--clr-pink500) !important;
}

.opacity_07 {
  opacity: 0.7;
}

/* ========================= */

/* nav=============== */
.logo_img {
  width: 298.44px;
  height: 193px;
}

.nav_bar_btn {
  width: 40px;
  height: 3px;
  background-color: white;
}

/* hero */

.slick-dots li button:before {
  color: white !important;
  font-size: 15px !important;
}

.slick-dots {
  bottom: 10px !important;
}

.slick-dotted.slick-slider {
  margin-bottom: 0px !important;
}

.z_index_2 {
  z-index: 2;
}

.position_hero_title {
  bottom: 12%;
  left: 10%;
}

.bg_paint {
  background-image: url("../img/webp/paint.webp");
  background-position: left;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.bg_cards {
  background: rgba(255, 255, 255, 0.82);
}

.transform_rotate {
  transform: rotate(180deg);
}

.arrow_slider:hover {
  background-color: var(--clr-pink500) !important;
}

.arrow_slider:hover svg path {
  fill: white;
}

.position_arrow_slider {
  bottom: 5%;
  left: 3%;
}

.arrow_slider {
  padding-top: 12px;
  padding-bottom: 17px;
  padding-left: 12px;
  padding-right: 12px;
  transition: 0.1s ease-in-out all;
  cursor: pointer;
}

.arrow_slider:active {
  transform: scale(0.9);
}

.nav_icon :nth-of-type(odd) {
  transform: translateX(-10px);
}

.nav_button_toggle :nth-of-type(odd) {
  transform: translateX(0px);
}

.c_pointer {
  cursor: pointer;
}

.cloneBtn {
  width: 50px;
  height: 50px;
  background-color: white !important;
}

.position_close_btn {
  top: 10px;
  left: 10px;
}

nav ul li a:hover {
  color: white !important;
}

nav ul li a {
  position: relative;
}

.btn-close {
  background-color: transparent !important;
}

nav ul li a::after {
  content: "";
  position: absolute;
  background-color: white;
  width: 0;
  height: 2.5px;
  bottom: -2px;
  transition: 0.2s ease-in-out all;
  left: 50%;
}

nav ul li a:hover::after {
  content: "";
  width: 100%;
  transform: translateX(-50%);
}

.transition_box {
  transition: 0.3s ease-in-out all;
}

.width_natural_img {
  width: 45px;
  height: 45px;
}

.transform_translate:hover .transform_translate_box {
  transform: translateY(-10px);
}

/* =========================== */
.d_grid {
  display: grid;
  gap: 8px;
}

.grid_img1 {
  grid-row: 1/2;
  grid-column: 1/2;
}

.grid_img2 {
  grid-row: 1/3;
  grid-column: 2/3;
}

.grid_img3 {
  grid-row: 1/3;
  grid-column: 3/4;
}

.grid_img4 {
  grid-row: 2/3;
  grid-column: 1/2;
}

.transform_scale:hover {
  transform: scale(1.1);
}

.transform_scale_transition {
  transition: all 0.3s ease-in-out;
}

.form_bg {
  background: #ffffff;
  box-shadow: 10px 10px 28px rgba(219, 219, 219, 0.15);
  border-radius: 4px;
  padding: 45px 35px 25px 35px;
}

.form_bg input {
  font-family: "Poppins";
  font-weight: 400;
  font-size: var(--fs-xsm);
  color: #000000;
  outline: 0;
  opacity: 0.7 !important;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 12px;
  width: 100%;
}

.form_bg input::placeholder {
  font-family: "Poppins" !important;
  font-weight: 400 !important;
  font-size: var(--fs-xsm);
  color: #000000 !important;
  opacity: 0.7;
}

.message_input {
  outline: 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  font-family: "Poppins";
  font-weight: 400;
  font-size: var(--fs-xsm);
  color: #000000;
  opacity: 0.7 !important;
}

.footer_input {
  border: none !important;
  font-family: "Poppins";
  font-weight: 400;
  color: #000000;
  opacity: 0.7 !important;
}

.submit_btn {
  background: #e18d8a;
  box-shadow: 0px 4px 36px rgba(225, 141, 138, 0.12);
  border-radius: 34px;
  padding: 19px;
  width: 100%;
  border: none;
}

.phone_img {
  position: absolute;
  bottom: 0%;
}

.textArea:focus {
  outline: none !important;
}

.textArea {
  font-family: "Poppins";
  font-weight: 400;
  font-size: var(--fs-xsm);
  color: #000000;
  outline: 0;
  opacity: 0.7 !important;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 12px;
  width: 100%;
}

.img_transition {
  transition: all 0.2s ease-in-out !important;
}

.border_none {
  border: none;
}

.bg_footerWave {
  background-image: url('../img/svg/footer_wave.svg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.opacity_07 {
  opacity: 0.7;
}

.arrow_btn:hover img {
  transform: translateX(10px);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.light_pink {
  background-color: #f0d9d4;
  height: 42px;
}

.subscribe_btn:hover {
  opacity: 0.8;
}

.translate_footer_img:hover {
  transform: translateY(-5px);
}

.footer_line::before {
  content: "";
  background-color: #000000;
  height: 1.5px;
  width: 0px;
  left: 50%;
  bottom: -7%;
  border-radius: 15px;
  transition: all 200ms linear;
  position: absolute;
}

.w_logo_footer {
  width: 115.97px;
  height: 75px;
}

.footer_line:hover::before {
  transform: translateX(-50%);
  width: 100%;
}

.footer_input {
  outline: none;
}

.quotese_img {
  top: 27%;
}

.backtoTop {
  bottom: 5%;
  right: 2%;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: none !important;
  animation: backtoTopBTN 1s ease-in-out infinite alternate-reverse;
}

.object_fit {
  object-fit: cover;
}

.position_backToTop {
  bottom: 5%;
  right: 2%;
}

.preloader {
  background-color: var(--clr-pink400);
  z-index: 5;
}

.preloaderImg {
  width: 298.44px;
  height: 193px;
  animation: preloader_img 1.5s ease-in-out infinite alternate;
}

.intl-tel-input,
.iti {
  width: 100%;
}

.overflow_x_hidden {
  overflow-X: hidden;
}

.border_white {
  border: 1.5px solid white !important;
}

.w_footer_img {
  width: 16px;
  height: 20px;
}

.footer_lineBg {
  height: 1px;
  width: 100%;
  background-color: #4C4C4C;
}

@keyframes preloader_img {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.2);
  }
}

@keyframes backtoTopBTN {
  from {
    transform: translateY(15px);
  }

  to {
    transform: translateY(0px);
  }
}

@media (max-width: 576px) {
  :root {
    --fs-xsm: 15px;
    --fs-sm: 18px;
    --fs-md: 18px;
    --fs-lg: 21px;
    --fs-xl: 38px;
  }

  .grid_img1 {
    grid-row: 1/2;
    grid-column: 1/2;
  }

  .grid_img2 {
    grid-row: 3/4;
    grid-column: 1/3;
  }

  .grid_img3 {
    grid-row: 1/3;
    grid-column: 2/3;
  }

  .grid_img4 {
    grid-row: 2/3;
    grid-column: 1/2;
  }

  .phone_img {
    position: relative;
    bottom: -48px;
  }

  .services_card {
    height: 24%;
  }

  .logo_img {
    width: 150px;
    height: 100%;
  }

  .form_bg {
    background: #ffffff;
    padding: 45px 24px 25px 24px;
  }

  .submit_btn {
    padding: 14px;
  }

  .preloaderImg {
    width: 200px;
    height: 153px;
  }

  .iFrame {
    height: 450px;
  }
}

@media (min-width: 576px) {
  :root {
    --fs-xsm: 16px;
    --fs-sm: 18px;
    --fs-md: 20px;
    --fs-lg: 35px;
    --fs-xl: 50px;
  }

  .grid_img1 {
    grid-row: 1/2;
    grid-column: 1/2;
  }

  .grid_img2 {
    grid-row: 3/4;
    grid-column: 1/3;
  }

  .grid_img3 {
    grid-row: 1/3;
    grid-column: 2/3;
  }

  .grid_img4 {
    grid-row: 2/3;
    grid-column: 1/2;
  }

  .phone_img {
    position: relative;
    bottom: -7%;
  }

  .services_card {
    height: 28%;
  }
}

@media (min-width: 768px) {
  :root {
    --fs-xsm: 15px;
    --fs-sm: 18px;
    --fs-md: 17px;
    --fs-lg: 40px;
    --fs-xl: 60px;
  }

  .grid_img1 {
    grid-row: 1/2;
    grid-column: 1/2;
  }

  .grid_img2 {
    grid-row: 3/4;
    grid-column: 1/3;
  }

  .grid_img3 {
    grid-row: 1/3;
    grid-column: 2/3;
  }

  .grid_img4 {
    grid-row: 2/3;
    grid-column: 1/2;
  }

  .phone_img {
    bottom: -48px;
  }

  .height_hero_max_lg_img {
    height: 100%;
  }

  .services_card {
    height: 28%;
  }
}

@media (max-width: 767px) {
  .nav_bar {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 5;
    right: -100%;
    transition: linear 300ms;
  }

  .show_nav {
    right: 0;
  }

  .overflow_y_hidden {
    overflow-y: hidden;
  }

  .height_hero_max_md_img {
    height: 420px;
    width: 100%;
    object-fit: cover;
  }
}

@media (min-width: 992px) {
  :root {
    --fs-xsm: 16px;
    --fs-sm: 18px;
    --fs-md: 20px;
    --fs-lg: 40px;
    --fs-xl: 60px;
  }

  .grid_img1 {
    grid-row: 1/2;
    grid-column: 1/2;
  }

  .grid_img2 {
    grid-row: 1/3;
    grid-column: 2/3;
  }

  .grid_img3 {
    grid-row: 1/3;
    grid-column: 3/4;
  }

  .grid_img4 {
    grid-row: 2/3;
    grid-column: 1/2;
  }

  .phone_img {
    position: absolute;
    bottom: 0%;
  }

  .services_card {
    height: 20%;
  }
}

@media (min-width: 1200px) {
  .bg_pink200_xl {
    background-color: var(--clr-pink-200);
  }

  .position_xl_absolute {
    position: absolute;
  }

  .services_card {
    height: 23%;
  }
}

@media (min-width: 1400px) {
  .services_card {
    height: 18%;
  }
}

.BRT9j3io7R9kMFEHtb0k {
  color: #e18d8a;
}