@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&family=Poppins:wght@400;700&display=swap");
* {
  padding: 0%;
  margin: 0%;
  list-style-type: none !important;
  box-sizing: border-box !important;
  text-decoration: none !important;
}
/*--font-family--*/
.ff_Cinzel {
  font-family: "Cinzel", serif;
}
.ff_Poppins {
  font-family: "Poppins", sans-serif;
}
:root {
  /*--font-size---*/
  --fs-xsm: 16px;
  --fs-sm: 18px;
  --fs-md: 20px;
  --fs-lg: 40px;
  --fs-xl: 60px;
  /*---color-----*/
  --clr-pink100: #fff6f6;
  --clr-pink-200: #f8f4f1;
  --clr-pink300: #eed5d0;
  --clr-pink500: #e18d8a;
}

/*--font-size---*/
.fs_xsm {
  font-size: var(--fs-xsm);
}
.fs_sm {
  font-size: var(--fs-sm);
}
.fs_md {
  font-size: var(--fs-md);
}
.fs_lg {
  font-size: var(--fs-lg);
}
.fs_xl {
  font-size: var(--fs-xl);
}
/*-----color----*/
.bg_pink100 {
  background-color: var(--clr-pink100) !important;
}
.bg_pink200 {
  background-color: var(--clr-pink-200) !important;
}
.bg_pink300 {
  background-color: var(--clr-pink-300) !important;
}
.bg_pink500 {
  background-color: var(--clr-pink-500) !important;
}

.d_grid {
  display: grid;
  gap: 10px;
}
.grid_img1 {
  grid-row: 1/2;
  grid-column: 1/2;
}
.grid_img2 {
  grid-row: 2/3;
  grid-column: 1/2;
}
